{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    [
      "transform-imports",
      {
        "material-ui": {
          "transform": "material-ui/${member}",
          "preventFullImport": true
        },
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
